In [1]:
!pip install PyMySQL
import pymysql
connection = pymysql.connect(host='jsedocc7.scrc.nyu.edu',
                             user='Non-Trivial',
                             password='N14GUb5l9B8=',
                             db='Non-Trivial')
cursor = connection.cursor()

Requirement already satisfied: PyMySQL in /Users/mihirparanjape/opt/anaconda3/lib/python3.8/site-packages (1.0.2)

In [2]:
import pandas as pd
import numpy as np
!pip install kmodes
from kmodes.kmodes import KModes
import matplotlib.pyplot as plt

Requirement already satisfied: kmodes in /Users/mihirparanjape/opt/anaconda3/lib/python3.8/site-packages (0.12.2)
Requirement already satisfied: scipy>=0.13.3 in /Users/mihirparanjape/opt/anaconda3/lib/python3.8/site-packages (from kmodes) (1.6.2)
Requirement already satisfied: joblib>=0.11 in /Users/mihirparanjape/opt/anaconda3/lib/python3.8/site-packages (from kmodes) (1.2.0)
Requirement already satisfied: scikit-learn>=0.22.0 in /Users/mihirparanjape/opt/anaconda3/lib/python3.8/site-packages (from kmodes) (1.2.0)
Requirement already satisfied: numpy>=1.10.4 in /Users/mihirparanjape/opt/anaconda3/lib/python3.8/site-packages (from kmodes) (1.20.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/mihirparanjape/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.22.0->kmodes) (2.1.0)

In [ ]:
!sudo apt-get install python3-dev libmysqlclient-dev > /dev/null
!pip install mysqlclient > /dev/null
!sudo pip3 install -U sql_magic > /dev/null
!pip install psycopg2-binary  > /dev/null
!pip install -q geopandas sqlalchemy
!apt-get install python3-mysqldb
!pip install geopandas sqlalchemy
!apt-get install python3-mysqldb

Password:

In [ ]:
from sqlalchemy import create_engine
conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset=utf8'.format(
    user='Non-Trivial', 
    password='N14GUb5l9B8=', 
    host = 'jsedocc7.scrc.nyu.edu', 
    port     = 3306, 
    encoding = 'utf-8',
    db = 'Non-Trivial'
)
engine = create_engine(conn_string)

In [5]:
%reload_ext sql_magic
%config SQL.conn_name = 'engine'

In [6]:
import requests
import pandas as pd
key = '5Ym-s3aaU7rKSgBETzwp5hVQ-KF9mPPuefLdyE_s5W_o28af658ROOmuqJOflnE4QaRh39eBWn8l5cA09CaZrFCDCBtFF0NP4Ifas-YCD5GJFASOe8bAWhHUfAlKYnYx'
auth_header = {'Authorization': 'Bearer ' + key}
loc = "Manhattan"
url = 'https://api.yelp.com/v3/businesses/search'

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "chinese",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
c_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
c_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "japanese",
    "price": "1,2,3,4"
}

resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
j_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
j_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "korean",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
k_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
k_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "vietnamese",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
v_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
v_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "spanish",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
s_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
s_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "thai",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
t_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
t_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "italian",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
i_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
i_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "brunch",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
b_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
b_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "mexican",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
m_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
m_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "ethiopian",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
e_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
e_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "halal",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
h_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
h_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "burgers",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
burg_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
burg_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "french",
    "price": "1,2,3,4"
}
resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
f_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
f_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "sandwiches",
    "price": "1,2,3,4"
}

resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
sa_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
sa_df["price"] = list_prices

parameters = {
    "location": loc,
    "term": "restaurant",
    "sort_by": "rating",
    "limit" : 50,
    "open_now": "true",
    "categories": "mediterranean",
    "price": "1,2,3,4"
}

resp = requests.get(url, headers=auth_header, params=parameters)
data = resp.json()
med_df = pd.json_normalize(data['businesses'])
list_prices = []
for i in data['businesses']:
  list_prices.append(i['price'])
med_df["price"] = list_prices

list_df = [c_df, j_df, k_df, v_df, s_df, t_df, i_df, b_df, m_df, e_df, h_df, burg_df, f_df, sa_df, med_df, ]

finalYelp_df = pd.concat(list_df, ignore_index=True)
finalYelp_df.drop('location.address2', inplace=True, axis=1)
finalYelp_df.drop('location.address3', inplace=True, axis=1)
list_allalias = []
for i in finalYelp_df['categories']:
  list_alias = []
  for cat in i:
    list_alias.append(cat['alias'])
  list_allalias.append(list_alias)
finalYelp_df['alias'] = list_allalias
finalYelp_df = finalYelp_df.drop_duplicates(subset = ["id"], ignore_index = True, inplace = False)
finalYelp_df

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,display_phone,distance,coordinates.latitude,coordinates.longitude,location.address1,location.city,location.zip_code,location.country,location.state,location.display_address
0,2wVirrAVg3ltAFHoHeXHMQ,"[dimsum, cantonese, desserts]",Dim Sum Palace,https://s3-media2.fl.yelpcdn.com/bphoto/eSaOLa...,False,https://www.yelp.com/biz/dim-sum-palace-new-yo...,309,"[{'alias': 'dimsum', 'title': 'Dim Sum'}, {'al...",4.5,"[delivery, restaurant_reservation, pickup]",...,(646) 476-8846,4075.554336,40.725900,-73.989860,59 2nd Ave,New York,10003,US,NY,"[59 2nd Ave, New York, NY 10003]"
1,FhXBKrLHyK7np4d0_f1s-w,"[indpak, chinese, thai]",Swadist Restaurant,https://s3-media3.fl.yelpcdn.com/bphoto/rx52F9...,False,https://www.yelp.com/biz/swadist-restaurant-je...,165,"[{'alias': 'indpak', 'title': 'Indian'}, {'ali...",4.5,"[delivery, pickup]",...,(201) 721-5152,8190.004947,40.734995,-74.061407,715 Newark Ave,Jersey City,07306,US,NJ,"[715 Newark Ave, Jersey City, NJ 07306]"
2,jc7lVTvmYMIK5RNpENtS6w,[szechuan],Szechuan Mountain House,https://s3-media3.fl.yelpcdn.com/bphoto/Qfev09...,False,https://www.yelp.com/biz/szechuan-mountain-hou...,485,"[{'alias': 'szechuan', 'title': 'Szechuan'}]",4.5,"[delivery, pickup]",...,(917) 388-3866,3697.755705,40.729110,-73.988580,23 St Marks Pl,New York,10003,US,NY,"[23 St Marks Pl, New York, NY 10003]"
3,nI1UYDCYUTt23TpGxqnLKg,"[chinese, bars, asianfusion]",Buddakan,https://s3-media4.fl.yelpcdn.com/bphoto/JJ6WiH...,False,https://www.yelp.com/biz/buddakan-new-york?adj...,4276,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...",4.0,"[delivery, pickup]",...,(212) 989-6699,3512.221842,40.742276,-74.004800,75 9th Ave,New York,10011,US,NY,"[75 9th Ave, New York, NY 10011]"
4,U2aUFZARLeSMf4RQIxjuTw,[chinese],Lucky House Kitchen,https://s3-media1.fl.yelpcdn.com/bphoto/ls5IAq...,False,https://www.yelp.com/biz/lucky-house-kitchen-b...,113,"[{'alias': 'chinese', 'title': 'Chinese'}]",4.5,[],...,(718) 443-2298,8870.995670,40.683840,-73.935157,343 Lewis Ave,Brooklyn,11233,US,NY,"[343 Lewis Ave, Brooklyn, NY 11233]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,Ti-957LNURM0Gy2CXIbQOw,"[mideastern, mediterranean]",Hummus Kitchen,https://s3-media2.fl.yelpcdn.com/bphoto/dVzsFY...,False,https://www.yelp.com/biz/hummus-kitchen-new-yo...,862,"[{'alias': 'mideastern', 'title': 'Middle East...",4.0,"[pickup, delivery]",...,(212) 333-3009,1651.042046,40.764270,-73.987970,768 9th Ave,New York,10019,US,NY,"[768 9th Ave, New York, NY 10019]"
619,_-LcAMoys6QGxJkupcG90g,"[mediterranean, cafes, lounges]",Tru Astoria,https://s3-media2.fl.yelpcdn.com/bphoto/MPv93D...,False,https://www.yelp.com/biz/tru-astoria-astoria?a...,451,"[{'alias': 'mediterranean', 'title': 'Mediterr...",4.0,"[pickup, delivery]",...,(646) 878-6000,5454.535590,40.774600,-73.908090,35-19 Ditmars Blvd,Astoria,11105,US,NY,"[35-19 Ditmars Blvd, Astoria, NY 11105]"
620,HrdIdeDZBTUdyEdSTPG1zg,"[mediterranean, cocktailbars, breakfast_brunch]",Jack's Wife Freda,https://s3-media1.fl.yelpcdn.com/bphoto/xujPES...,False,https://www.yelp.com/biz/jacks-wife-freda-new-...,905,"[{'alias': 'mediterranean', 'title': 'Mediterr...",4.0,"[pickup, delivery]",...,(646) 669-9888,4338.919183,40.729826,-74.003516,50 Carmine St,New York,10014,US,NY,"[50 Carmine St, New York, NY 10014]"
621,Me4TxTbPPQZQopW1wOGx5g,"[breakfast_brunch, mediterranean, newamerican]",Jack's Wife Freda,https://s3-media3.fl.yelpcdn.com/bphoto/Ll_WSe...,False,https://www.yelp.com/biz/jacks-wife-freda-new-...,2088,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,[delivery],...,(212) 510-8550,4745.195024,40.722132,-73.997540,226 Lafayette St,New York,10012,US,NY,"[226 Lafayette St, New York, NY 10012]"
622,F89nDDlYZ7wbRe8EpLCqBw,"[seafood, greek, mediterranean]",Avra Estiatorio,https://s3-media2.fl.yelpcdn.com/bphoto/KOWgG7...,False,https://www.yelp.com/biz/avra-estiatorio-new-y...,937,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"[pickup, delivery]",...,(212) 759-8550,518.381313,40.755049,-73.972439,141 E 48th St,New York,10017,US,NY,"[141 E 48th St, New York, NY 10017]"

In [7]:
def populate(df, column):
  genres = df[column].tolist()
  uniqueGenres = []
  for i in genres:
    for j in i.split(','):
      if j not in uniqueGenres:
        uniqueGenres.append(j.strip("' []"))
  uniqueGenres

  foo = []
  for k in uniqueGenres:
    bar = []
    for l in range(0,len(df)):
      if k in df[column].iloc[l]:
        bar.append(1)
      else:
        bar.append(0)
    foo.append(bar)

  count = 0
  for i in uniqueGenres:
    df[i] = foo[count]
    count += 1

def cluster(df,num,column):
  kmode = KModes(n_clusters=num, init = "random", n_init = 5, verbose=1)
  clusters = kmode.fit_predict(df.iloc[:,column:])
  df.insert(0, "Cluster", clusters, True)

streaming_df = pd.read_sql_table("imdbStreaming", conn_string)
populate(streaming_df,"Genre")
cluster(streaming_df,15,5)
streaming_df

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 6, cost: 96.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 17, cost: 95.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 17, cost: 89.0
Run 3, iteration: 2/100, moves: 2, cost: 89.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 8, cost: 101.0
Run 4, iteration: 2/100, moves: 0, cost: 101.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 11, cost: 84.0
Run 5, iteration: 2/100, moves: 6, cost: 82.0
Run 5, iteration: 3/100, moves: 4, cost: 82.0
Best run was number 5

,Cluster,index,Title,Genre,Platform,Rating,Documentary,Biography,Adventure,Drama,...,Romance,Game-Show,Music,News,Fantasy,Sport,Western,Family,Sci-Fi,null
0,14,0,The Larry David Story,"Documentary,Biography",HBO,-1.0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,1,Against the Ice,"Adventure,Drama,History",Netflix,6.5,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,2,Dicktown,"Animation,Comedy,Mystery",FXX,6.8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,3,The Dropout,"Biography,Drama",Hulu,7.6,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,4,Echos,Drama,Now,6.1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,6,93,The Fairly OddParents,"Adventure,Comedy,Family",Plus,3.0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
94,6,94,How We Roll,Comedy,CBS,5.1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,5,95,Julia,"Biography,Drama",Max,8.5,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
96,12,96,Rat in the Kitchen,Game-Show,TBS,6.2,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
97,4,97,Wisting,"Crime,Drama",Now,7.3,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# Clustering

streaming_df = pd.read_sql_table("imdbStreaming", conn_string)
populate(streaming_df,"Genre")
cluster(streaming_df,15,5)

yelp_df = pd.read_sql_table("yelp", conn_string)
populate(yelp_df,"food")
cluster(yelp_df,15,18)

theater_df = pd.read_sql_table("imdbTheaters", conn_string)
populate(theater_df,"Genre")
cluster(theater_df,13,7)

clusteredStreaming = streaming_df.groupby(['Cluster']).sum().T.iloc[2:-1]
clusteredTheater = theater_df.groupby(['Cluster']).sum().T.iloc[1:]
clusteredFood = yelp_df.groupby(['Cluster']).sum().T.iloc[5:]

def findCategory(pivot, category):
  return pivot.idxmax(axis = 1)[category]

findCategory(clusteredStreaming, "Documentary")

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 6, cost: 94.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 12, cost: 89.0
Run 2, iteration: 2/100, moves: 2, cost: 89.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 18, cost: 83.0
Run 3, iteration: 2/100, moves: 1, cost: 83.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 3, cost: 88.0
Run 4, iteration: 2/100, moves: 1, cost: 88.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 9, cost: 82.0
Run 5, iteration: 2/100, moves: 0, cost: 82.0
Best run was number 5
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 2, cost: 60.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 3, cost: 63.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 1, cost: 60.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 2, cost: 68.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 4, cost: 66.0
Run 5, iteration: 2/100, moves: 0, cost: 66.0
Best run was number 1
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 8, cost: 60.0
Run 1, iteration: 2/100, moves: 0, cost: 60.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 12, cost: 74.0
Run 2, iteration: 2/100, moves: 0, cost: 74.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 6, cost: 63.0
Run 3, iteration: 2/100, moves: 0, cost: 63.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 9, cost: 58.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 5, cost: 61.0
Best run was number 4

2

In [9]:
!pip install -q streamlit
!pip install -q pyngrok

In [10]:
# Authenticate the NGROK
!pip install -q pyngrok
!ngrok authtoken 28fdIVJrrj5eAwpRzzHDX5XswNS_3FobAFEQMrJY2j2r5QkLC

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [11]:
# Install the SQLAlchemy library if it is not installed
!sudo apt-get install python3-dev libmysqlclient-dev > /dev/null
!pip install mysqlclient > /dev/null
!sudo pip3 install -U sql_magic > /dev/null
!pip install psycopg2-binary > /dev/null

In [12]:
%%writefile app.py
import streamlit as st
import pandas as pd
import numpy as np
#!pip install kmodes
from kmodes.kmodes import KModes
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import time

conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset=utf8'.format(
    user='Non-Trivial', 
    password='N14GUb5l9B8=', 
    host = 'jsedocc7.scrc.nyu.edu', 
    port     = 3306, 
    encoding = 'utf-8',
    db = 'Non-Trivial'
)
engine = create_engine(conn_string)

def populate(df, column):
  genres = df[column].tolist()
  uniqueGenres = []
  for i in genres:
    for j in i.split(','):
      if j not in uniqueGenres:
        uniqueGenres.append(j.strip("' []"))

  foo = []
  for k in uniqueGenres:
    bar = []
    for l in range(0,len(df)):
      if k in df[column].iloc[l]:
        bar.append(1)
      else:
        bar.append(0)
    foo.append(bar)

  count = 0
  for i in uniqueGenres:
    df[i] = foo[count]
    count += 1

def cluster(df,num,column):
  kmode = KModes(n_clusters=num, init = "random", n_init = 5, verbose=1)
  clusters = kmode.fit_predict(df.iloc[:,column:])
  df.insert(0, "Cluster", clusters, True)

def findCategory(pivot, category):
  return pivot.idxmax(axis = 1)[category]

streaming_df = pd.read_sql_table("imdbStreaming", conn_string)
populate(streaming_df,"Genre")
cluster(streaming_df,15,5)

yelp_df = pd.read_sql_table("yelp", conn_string)
populate(yelp_df,"food")
cluster(yelp_df,15,18)

theater_df = pd.read_sql_table("imdbTheaters", conn_string)
populate(theater_df,"Genre")
cluster(theater_df,13,7)

clusteredStreaming = streaming_df.groupby(['Cluster']).sum().T.iloc[2:-1]
clusteredTheater = theater_df.groupby(['Cluster']).sum().T.iloc[1:]
clusteredFood = yelp_df.groupby(['Cluster']).sum().T.iloc[5:]

header = st.container()
userInput = st.container()
visualization = st.container()


with header:
  st.title('What to Do in NYC')

with userInput:
  #sel_col, disp_col = st.columns(2)
  st.header('Enter Your Preferences')
  st.text('What Do You Prefer More?')
  
  pref = st.selectbox('Food or Movies', options = ['Neutral','Strongly Prefer Movie','Slightly Prefer Movie', 'Strongly Prefer Food','Slightly Prefer Food'])

  st.text('Movie Preferences')
  mpref1 = st.slider('Horror', min_value = 1.0, max_value = 10.0, step = 0.1)
  mpref2 = st.slider('Action', min_value = 1.0, max_value = 10.0, step = 0.1)
  mpref3 = st.slider('Comedy', min_value = 1.0, max_value = 10.0, step = 0.1)
  mpref4 = st.slider('Mystery', min_value = 1.0, max_value = 10.0, step = 0.1)
  mpref5 = st.slider('Romance', min_value = 1.0, max_value = 10.0, step = 0.1)
  mpref6 = st.slider('SciFi', min_value = 1.0, max_value = 10.0, step = 0.1)
  mpref7 = st.slider('Fantasy', min_value = 1.0, max_value = 10.0, step = 0.1)

  movie = {'Horror':mpref1, 'Action':mpref2, 'Comedy':mpref3, 'Mystery':mpref4, 
         'Romance':mpref5, 'SciFi':mpref6, 'Fantasy':mpref7}

  st.text('Cuisine Preferences')
  fpref1 = st.slider('Italian', min_value = 1.0, max_value = 10.0, step = 0.1)
  fpref2 = st.slider('Mediterranean', min_value = 1.0, max_value = 10.0, step = 0.1)
  fpref3 = st.slider('Chinese', min_value = 1.0, max_value = 10.0, step = 0.1)
  fpref4 = st.slider('American', min_value = 1.0, max_value = 10.0, step = 0.1)
  fpref5 = st.slider('Korean', min_value = 1.0, max_value = 10.0, step = 0.1)
  fpref6 = st.slider('Latin', min_value = 1.0, max_value = 10.0, step = 0.1)
  fpref7 = st.slider('Vegan', min_value = 1.0, max_value = 10.0, step = 0.1)

  numrecs = int(st.number_input("How many recommendations would you like?",1,8))
  food = {'italian':fpref1, 'mediterranean':fpref2, 'chinese':fpref3, 'newamerican':fpref4, 'korean':fpref5, 'latin':fpref6, 'vegan':fpref7}

  if pref == 'Neutral':
    preference = 0
  elif pref == 'Strongly Prefer Movie':
    preference = -10
  elif pref == 'Slightly Prefer Movie':
    preference = -3
  elif pref == 'Strongly Prefer Food':
    preference = 10
  elif pref == 'Slightly Prefer Food':
    preference = 3

  User_Preferences = {'Movies':movie, 'Food':food, 'Current Preferences': preference}
  UserZipcode = 10003
  
  @st.cache
  def topGenre():
    maxMovieScore = 0
    maxMovieGenre = ""
    for i in movie:
      if movie[i]>maxMovieScore:
        maxMovieScore = movie[i]
        maxMovieGenre = i
    return maxMovieGenre

  @st.cache
  def topCuisine():
    maxCuisineScore = 0
    maxCuisineType = ""
    for i in food:
      if food[i]>maxCuisineScore:
        maxCuisineScore = food[i]
        maxCuisineType = i
    return maxCuisineType
  @st.cache
  def index_of_max (OriginalList, Spot=1):
    max = [-9999, -1] # [Max, max index]
    for i in range (len(OriginalList)):
      if OriginalList[i] > max[0]:
        max[0], max[1] = OriginalList[i], i
    MaxList = [max]
    RecoredIndexes = [max[1]]
    while (len(MaxList) != len(OriginalList)):
      max = [-9999, -1] # [Max, max index]
      for i in range (len(OriginalList)):
        if (OriginalList[i] > max[0]) and (i not in RecoredIndexes):
          max[0], max[1] = OriginalList[i], i
        
      MaxList.append(max)
      RecoredIndexes.append(max[1])
    return MaxList[Spot-1][1]

  @st.cache
  def Max (OriginalList, Spot=1):
    max = [-9999, -1] # [Max, max index]
    for i in range (len(OriginalList)):
      if OriginalList[i] > max[0]:
        max[0], max[1] = OriginalList[i], i

    MaxList = [max]
    RecoredIndexes = [max[1]]
    while (len(MaxList) != len(OriginalList)):
      max = [-9999, -1] # [Max, max index]
      for i in range (len(OriginalList)):
        if (OriginalList[i] > max[0]) and (i not in RecoredIndexes):
          max[0], max[1] = OriginalList[i], i
        
      MaxList.append(max)
      RecoredIndexes.append(max[1])
    return MaxList[Spot-1][0]
    
  if st.button('Update'):
    maxMovieGenre = topGenre()
    maxCuisineType = topCuisine()
    st.subheader(maxMovieGenre)    
    st.subheader(maxCuisineType)
    st.subheader(findCategory(clusteredStreaming,maxMovieGenre))
    st.subheader(findCategory(clusteredFood,maxCuisineType))


    filter = streaming_df["Cluster"] == findCategory(clusteredStreaming,maxMovieGenre)
    new_df = streaming_df[filter]
    Movie_Match_Score = []
    # for i in range (len(streaming_df)):
    #   score = 0
    #   NumAdd = 0
    #   if 'horror' in streaming_df.iloc[i]['Genre'].lower():
    #     score += User_Preferences['Movies']['Horror']
    #     NumAdd += 1
    #   if 'action' in streaming_df.iloc[i]['Genre'].lower():
    #     score += User_Preferences['Movies']['Action']
    #     NumAdd += 1
    #   if 'comedy' in streaming_df.iloc[i]['Genre'].lower():
    #     score += User_Preferences['Movies']['Comedy']
    #     NumAdd += 1
    #   if 'mystery' in streaming_df.iloc[i]['Genre'].lower():
    #     score += User_Preferences['Movies']['Mystery']
    #     NumAdd += 1
    #   if 'romance' in streaming_df.iloc[i]['Genre'].lower():
    #     score += User_Preferences['Movies']['Romance']
    #     NumAdd += 1
    #   if 'sci-fi' in streaming_df.iloc[i]['Genre'].lower():
    #     score += User_Preferences['Movies']['SciFi']
    #     NumAdd += 1
    #   if NumAdd != 0:
    #     score = score / NumAdd
    #     Movie_Match_Score.append(0.5*(score+streaming_df.iloc[i]['Rating'])) # averages the match of generes to the movie rating
    #   else:
    #     Movie_Match_Score.append(0.5*(streaming_df.iloc[i]['Rating'])) # averages the match of generes to the movie rating



    cluster_score = []
    for i in range (len(new_df)):
      score = 0
      NumAdd = 0
      if 'horror' in new_df.iloc[i]['Genre'].lower():
        score += User_Preferences['Movies']['Horror']
        NumAdd += 1
      if 'action' in new_df.iloc[i]['Genre'].lower():
        score += User_Preferences['Movies']['Action']
        NumAdd += 1
      if 'comedy' in new_df.iloc[i]['Genre'].lower():
        score += User_Preferences['Movies']['Comedy']
        NumAdd += 1
      if 'mystery' in new_df.iloc[i]['Genre'].lower():
        score += User_Preferences['Movies']['Mystery']
        NumAdd += 1
      if 'romance' in new_df.iloc[i]['Genre'].lower():
        score += User_Preferences['Movies']['Romance']
        NumAdd += 1
      if 'sci-fi' in new_df.iloc[i]['Genre'].lower():
        score += User_Preferences['Movies']['SciFi']
        NumAdd += 1
      if NumAdd != 0:
        score = score / NumAdd
        cluster_score.append(0.5*(score+new_df.iloc[i]['Rating'])) # averages the match of generes to the movie rating
      else:
        cluster_score.append(0.5*(new_df.iloc[i]['Rating'])) # averages the match of generes to the movie rating

    new_df['user_match_score'] = cluster_score
      
    
    st.subheader("Here are some movies you would like:")
    for i in range (1,numrecs+1):
      st.text(new_df.iloc[index_of_max(cluster_score, Spot=i)]['Title']+ " which can be watched on "+ new_df.iloc[index_of_max(cluster_score, Spot=i)]['Platform'])


    filter2 = yelp_df["Cluster"] == findCategory(clusteredFood,maxCuisineType)

    new_foodf = yelp_df[filter2]

    Food_Match_Score = []
    for i in range (len(new_foodf)):
      score = 0
      NumAdd = 0
      if 'italian' in new_foodf.iloc[i]['food']:
        score += User_Preferences['Food']['italian']
        NumAdd += 1
      if 'mexican' in new_foodf.iloc[i]['food']:
        score += User_Preferences['Food']['mexican']
        NumAdd += 1
      if 'chinese' in new_foodf.iloc[i]['food']:
        score += User_Preferences['Food']['chinese']
        NumAdd += 1
      if 'american' in new_foodf.iloc[i]['food']:
        score += User_Preferences['Food']['newamerican']
        NumAdd += 1
      if 'korean' in new_foodf.iloc[i]['food']:
        score += User_Preferences['Food']['korean']
        NumAdd += 1
      if 'vegitarian' in new_foodf.iloc[i]['food']:
        score += User_Preferences['Food']['vegitarian']
        NumAdd += 1

      if NumAdd != 0:
        Food_Match_Score.append(0.5*(score/NumAdd + 2*new_foodf.iloc[i]['rating']))
      else:
        Food_Match_Score.append(new_foodf.iloc[i]['rating'])
    else:
      Food_Match_Score.append(0)
      
    st.subheader("Here are some restaurants you would like:")
    for i in range (1, numrecs+1):
      st.text(new_foodf.iloc[index_of_max(Food_Match_Score, Spot=i)]['name']+ ' at ' + new_foodf.iloc[index_of_max(Food_Match_Score, Spot=i)]['location.address1'] + ', ' + new_foodf.iloc[index_of_max(Food_Match_Score, Spot=i)]['location.city'])
        

    show_dataframe = st.checkbox('Display Dataframe')
    if True:
        streaming_df[filter]#.sort_values(by=['user_match_score'])
    
  #st.subheader(findCategory(clusteredFood,maxCuisineType))

Overwriting app.py

In [13]:
!streamlit run app.py &>/dev/null &

In [14]:
!ls

app.py	sample_data

In [15]:
#!ngrok config add-authtoken 28gFuMQu14A6GvkBKth6nGbUgUL_37CucbfpWyHPfeXQSP4TQ

In [16]:
from pyngrok import ngrok
# Setup a tunnel to the streamlit port 8501
public_url = ngrok.connect(8501)
public_url

In [17]:
# If ngrok isn't working use this.
# !npm install localtunnel
# !npx localtunnel --port 8501

npm WARN saveError ENOENT: no such file or directory, open '/content/package.json'
npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN enoent ENOENT: no such file or directory, open '/content/package.json'
npm WARN content No description
npm WARN content No repository field.
npm WARN content No README data
npm WARN content No license field.

+ localtunnel@2.0.2
added 22 packages from 22 contributors and audited 22 packages in 2.72s

3 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

npx: installed 22 in 1.824s
your url is: https://vast-hornets-join-34-67-95-103.loca.lt
^C